*{
    margin: 0px;
    padding: 0px;
}

.banner-cont{
    min-height: 100vh;
    width: 100%;
    background-image: url('https://img.freepik.com/free-photo/delicious-homemade-ice-cream-with-topping_23-2148425372.jpg?t=st=1716532961~exp=1716536561~hmac=22ee30725d7b5913b845fcd7048531b57ac81bc64a371ec8edaf66c2f7427488&w=1800');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.banner-text{
    width:35%;
    font-family: Arial, Helvetica, sans-serif;
    
}
.icon{
    font-size: 40px;
    padding-bottom: 5px;
}
.heading{
    font-size: 50px;
    color: #fce2ad;
}
.tag-line{
    font-size: 20px;
    margin: 5px;
    margin-left: 20px;
    color: #fce2ad;
    font-weight: lighter;
}
.text{
    font-size: 30px;
    color: #fce2ad;
    margin:10px;
}
.about-cont{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fce2ad;
    padding: 60px;
    color: #271e0a;
}
.about-text{
    width:90%;
    margin: auto;
    
}
.about-text h3{
    font-size: 25px;
    text-align: center;
}
.about-text p{
    font-size: 20px;
    margin-top: 20px;
    font-weight: lighter;
    text-align: center;
}
.about-sub-cont1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    text-align: left;
    width: 100%;
    
}
.about-image{
    width:350px;
    border: none;
    border-radius: 30px;
    order: 2;
}
.about-sub-text{ 
    padding-right: 30px;
    order: 1;
    font-weight: lighter;
    color: #271e0a;
    font-size: 20px;
    margin-top: 20px;
    font-weight: lighter;
}
.about-sub-text p{
    margin-bottom: 2px;
}
.company{
    font-size: 30px;
    font-weight: 600;
    color: #271e0a;
}
.explore-cont{
    padding-top: 80px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #fce2ad;
    background-image: linear-gradient(#362f1f,#271e0a);
    padding-bottom: 70px;
}
.explore-text{
    width: 90%;
    margin: auto;
    text-align: center;
}
.explore-text h3{
    font-size: 35px;
}
.explore-text p{
    font-size: 18px;
    padding-top: 18px;
}
.explore-varieties{
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.ice-cream-cont{
   cursor: pointer;
   width: 30%;
   border: none;
}
.ice-cream-variety{
    width:100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    /* margin-bottom: 20px; */
    
}
.why-choose-us{
    background-color: #fce2ad;
    font-family: Arial, Helvetica, sans-serif;
    color: #271e0a;
}
.why-choose-us-cont{
    padding-top: 60px;
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    padding-bottom: 60px;
}
.why-choose-us-img{
    width: 350px;
    border-radius: 30px;
    object-fit: cover;
    
}
.why-choose-us-text{
    margin-left: 40px;
}
.why-choose-us-text h3{
    font-size: 35px;
    font-weight: 600;

}
.why-choose-us-text p{
    font-size: 18px;
    font-weight: lighter;
    padding-top: 15px;
}
.special-section{
    background-image: url('https://img.freepik.com/free-photo/still-life-cup-brazilian-acai-dessert_23-2150168774.jpg?t=st=1716697423~exp=1716701023~hmac=71b3df6a2d6d8a4edbc129eff63921744cba070370b157d7c71e3cdfe592c049&w=1800');
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}
.special-section-text{
    width: 80%;
    margin: auto;
    text-align: center;
    color: #fce2ad;
    padding-top: 180px;
}
.special-section-text h3{
    font-size: 35px;
    font-weight: 600;

}
.special-section-text p{
    font-size: 18px;
    padding-top: 20px;
    font-weight: 400;
    
}
.btn{
    color: #342204;
    background-color: #fce2ad;
    padding: 5px;
    width: 140px;
    height: 40px;
    font-size: medium;
    border: none;
    border-radius: 2px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;

}
.btn:hover{
    background-color: transparent;
    border: 2px solid #fce2ad;
    color: #fce2ad;
}



@media (max-width: 768px) {
    .banner-cont{
        height: 100vh;
        width: 100%;
        background-image: url('https://img.freepik.com/free-photo/cup-with-ice-cream-cones-wooden-tray_23-2148421956.jpg?t=st=1716544458~exp=1716548058~hmac=0f58735af08679d257d644e9a03e4069632cef0365a501a081b843ec3379ef49&w=826');
        background-size: cover;
        background-position: center;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-text{
        width:80%;
        height: 50%;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    .icon{
        font-size: 20px;

    }
    .heading{
        font-size: 30px;

    }
    .tag-line{
        font-size: 15px;
        margin: 5px;
        margin-left: 20px;

    }
    .text{
        font-size: 21px;
        margin:10px;
    }
    .about-text{
        width:95%;
        text-align: inherit;
        
    }
    .about-sub-cont1{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }
    .about-image{
        width:350px;
        order: 1;
    }
    .about-sub-text{
        padding-top: 30px;
        padding-right: 0px;
        order: 2;
        text-align: center;
    }
    .company{
        font-size: 25px;
        margin-right: 5px;
        margin-bottom: 25px;
    }
    .explore-varieties{
        flex-direction: column;
    }
    .ice-cream-cont{
        width: 60%;
    }
    .why-choose-us-cont{
        flex-direction: column;

    }
    .why-choose-us-text{
        margin-left: 0px;
        padding-top: 30px;
        text-align: center;
    }
    .why-choose-us-text h3{
        font-size: 30px;
    }
    .special-section{
        background-image: url('https://img.freepik.com/free-photo/still-life-cup-brazilian-acai-dessert_23-2150168778.jpg?t=st=1716697487~exp=1716701087~hmac=8a6e7aa4fff7eeb2ac6dce5f9d39e4a2ce812c3d3315c6987ca56dec339c77ed&w=826');
    }
    .special-section-text h3{
        font-size: 30px;
    }

}