*{
    margin: 0px;
    padding: 0px;
}

.banner-cont{
    height: 100vh;
    width: 100%;
    background-image: url('https://img.freepik.com/free-photo/delicious-homemade-ice-cream-with-topping_23-2148425372.jpg?t=st=1716532961~exp=1716536561~hmac=22ee30725d7b5913b845fcd7048531b57ac81bc64a371ec8edaf66c2f7427488&w=1800');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.banner-text{
    width:35%;
    font-family: Arial, Helvetica, sans-serif;
    
}
.icon{
    font-size: 40px;
}
.heading{
    font-size: 50px;
    color: #fce2ad;
}
.tag-line{
    font-size: 20px;
    margin: 5px;
    margin-left: 20px;
    color: #fce2ad;
}
.text{
    font-size: 30px;
    color: #fce2ad;
    margin:10px;
}